<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>rluke420672449</id>
      <username>rluke420672449</username>
      <password>I4JJTd2jqak4r1fnVleNJsewOQMV2ZTmaA8NzV1hG1Rm36j8Gb59JQQJ99BEACAAAAAAAAAAAAASAZDO1783</password>
    </server>
  </servers>
</settings>